<footer class="main-footer">
    <div class="destination-menu">
        <div class="container-fluid links-extras">
            <ul class="row">
                <li class="col-3"><a href="#">Voos para o Rio de Janeiro</a></li>
                <li class="col-3"><a href="#">Pacotes o Rio de Janeiro</a></li>
                <li class="col-3"><a href="#">Hotéis no Rio de Janeiro</a></li>
                <li class="col-3"><a href="#">Rio de Janeiro</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-top container-fluid">
        <div class="row subscribe">
            <div class="col-3">
                <a href=""><img src="~/Content/images/submarino-viagens-logo-full.png" alt="Submarino Viagens" /></a>
            </div>
            <div class="col-9">
                <p class="subscribe-title"><span>Cadastre-se</span> Para receber as melhores ofertas</p>
                <input type="text" value="" placeholder="Nome" />
                <input type="text" value="" placeholder="Email" />
                <button type="button" class="btn btn-sm btn-default">Enviar</button>
            </div>
        </div>
        <div class="row footer-link">
            <div class="col-3">
                <h3 class="title">Ajuda</h3>
                <ul>
                    <li><a href="#">Central de Atendimento</a></li>
                    <li><a href="#">Mapa do Site</a></li>
                    <li class="spacer">–</li>
                    <li>Compre pelo Telefone 4003-9888</li>
                    <li>Voos Nacionais apenas pelo site</li>
                </ul>
            </div>
            <div class="col-3">
                <h3 class="title">Institucional</h3>
                <ul>
                    <li><a href="#">Sobre o Submarino Viagens</a></li>
                    <li><a href="#">Vantagens</a></li>
                    <li><a href="#">Compre no Submarino.com</a></li>
                    <li><a href="#">Política de Privacidade</a></li>
                    <li><a href="#">Anuncie</a></li>
                    <li><a href="#">Imprensa</a></li>
                    <li><a href="#">Trabalhe Conosco</a></li>
                </ul>
            </div>
            <div class="col-3">
                <h3 class="title">Compre sua Viagem</h3>
                <ul>
                    <li><a href="#">Voos Nacionais</a></li>
                    <li><a href="#">Voos Internacionais</a></li>
                    <li><a href="#">Hotéis</a></li>
                    <li><a href="#">Pacotes Turísticos</a></li>
                    <li><a href="#">Cruzeiros</a></li>
                    <li><a href="#">Resorts</a></li>
                    <li><a href="#">Atrações</a></li>
                </ul>
            </div>
            <div class="col-3">
                <h3 class="title">Serviços</h3>
                <ul>
                    <li><a href="#">Formas de Pagamento</a></li>
                    <li><a href="#">Compra Segura</a></li>
                    <li><a href="#">Garantia do Melhor Preço</a></li>
                    <li><a href="#">Guia de Viagens</a></li>
                    <li><a href="#">Revista Submarino Viagem</a></li>
                    <li><a href="#">Cadastre seu Hotel</a></li>
                </ul>
            </div>
        </div>
        <div class="row  footer-link">
            <div class="col-3">
                <h3 class="title">Corporativo</h3>
                <ul>
                    <li><a href="#">Soluções Corporativas</a></li>
                    <li><a href="#">Vale Viagem</a></li>
                    <li><a href="#">Fidelidade e Incentivo</a></li>
                    <li><a href="#">Viagens a negócios</a></li>
                </ul>
            </div>
            <div class="col-3">
                <h3 class="title">Parceiros</h3>
                <ul>
                    <li><a href="#">Shoptime Viagens</a></li>
                    <li><a href="#">American Viagens</a></li>
                    <li><a href="#">Blockbuster</a></li>
                    <li><a href="#">Ingresso.com</a></li>
                    <li><a href="#">Milevo</a></li>
                </ul>
            </div>
            <div class="col-3">
                <h3 class="title">Afiliados</h3>
                <ul>
                    <li><a href="#">Seja um de nosssos afiliados</a></li>
                </ul>
                <h3 class="title">Internacional</h3>
                <ul>
                    <li><a href="#">Argentina</a></li>
                </ul>
            </div>
            <div class="col-3">
                <h3 class="title">Cartão Submarino</h3>
                <ul>
                    <li><a href="#">Ligue 4004 - 7990 </a></li>
                </ul>
                <h3 class="title">Submarino.com.br</h3>
                <ul>
                    <li><a href="#">GPS & Navegadores</a></li>
                    <li><a href="#">Câmeras Digitais & Filmadoras</a></li>
                    <li><a href="#">MP3 Players</a></li>
                    <li><a href="#">Eletronicos Áudio & Vídeo</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-9">
                    <h3 class="title">Formas de Pagamento</h3>
                    <ul class="payment">
                        <li><span class="glaphicon glyphicon-submarino-master-2"></span></li>
                        <li><span class="glaphicon glyphicon-submarino-aura-2"></span></li>
                        <li class="spacer"><span class="glaphicon glyphicon-visa-2"></span></li>
                        <li><span class="glaphicon glyphicon-mastercard-2"></span></li>
                        <li><span class="glaphicon glyphicon-amex-2"></span></li>
                        <li><span class="glaphicon glyphicon-diners-club-2"></span></li>
                        <li class="spacer"><span class="glaphicon glyphicon-itau"></span></li>
                        <li><span class="glaphicon glyphicon-bradesco"></span></li>
                    </ul>
                    <h3 class="title">Certificado de Segurança</h3>
                    <img src="~/Content/images/security-certification.png" alt="Certificado de Segurança SSL" />
                </div>
                <div class="col-3">
                    <h3 class="title">
                        B2W Travel Ltd.
                    </h3>
                    <dl>
                        <dt>B2W VIAGENS E TURISMO LTDA</dt>
                        <dt>CNPJ</dt>
                        <dd>06.179.342 / 0001-05</dd>
                        <dt>Endereço</dt>
                        <dd>
                            R, HENRY FORD, 643<br />
                            Osasco - SP<br />
                            06210-108
                        </dd>
                        <dt>Customer Service</dt>
                        <dd><a href="mailto:faleconosco@submarinoviagens.com.br">faleconosco@submarinoviagens.com.br</a></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</footer>