<footer class="main-footer compact">
    <div class="footer-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-9">
                    <h3 class="title">Formas de Pagamento</h3>
                    <ul class="payment">
                        <li><span class="glaphicon glyphicon-submarino-master-2"></span></li>
                        <li><span class="glaphicon glyphicon-submarino-aura-2"></span></li>
                        <li class="spacer"><span class="glaphicon glyphicon-visa-2"></span></li>
                        <li><span class="glaphicon glyphicon-mastercard-2"></span></li>
                        <li><span class="glaphicon glyphicon-amex-2"></span></li>
                        <li><span class="glaphicon glyphicon-diners-club-2"></span></li>
                        <li class="spacer"><span class="glaphicon glyphicon-itau"></span></li>
                        <li><span class="glaphicon glyphicon-bradesco"></span></li>
                    </ul>
                    <h3 class="title">Certificado de Segurança</h3>
                    <img src="~/Content/images/security-certification.png" alt="Certificado de Segurança SSL" />
                </div>
                <div class="col-3">
                    <h3 class="title">
                        B2W Travel Ltd.
                    </h3>
                    <dl>
                        <dt>B2W VIAGENS E TURISMO LTDA</dt>
                        <dt>CNPJ</dt>
                        <dd>06.179.342 / 0001-05</dd>
                        <dt>Endereço</dt>
                        <dd>
                            R, HENRY FORD, 643<br />
                            Osasco - SP<br />
                            06210-108
                        </dd>
                        <dt>Customer Service</dt>
                        <dd><a href="mailto:faleconosco@submarinoviagens.com.br">faleconosco@submarinoviagens.com.br</a></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</footer>