@{
    ViewBag.Title = "Home";
}

<div class="marquee-home">
    <div class="marquee-home-container">
        <div class="marquee still" data-behavior="marquee">
            <div class="current transition">
                <div class="detail rio"></div>
                <div class="tab transition">
                    <button type="button" class="btn transition"></button>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <div class="ticket-dots">
                        <div class="tab-crop transition"></div>
                        <div class="first">
                            <span class="dot dot1"></span><span class="dot dot2"></span><span class="dot dot3"></span><span class="dot dot4"></span><span class="dot dot5"></span><span class="dot dot6"></span><span class="dot dot7"></span><span class="dot dot8"></span><span class="dot dot9"></span><span class="dot dot10"></span><span class="dot dot11"></span><span class="dot dot12"></span><span class="dot dot13"></span><span class="dot dot14"></span><span class="dot dot15"></span><span class="dot dot16"></span><span class="dot dot17"></span><span class="dot dot18"></span><span class="dot dot19"></span><span class="dot dot20"></span>
                        </div>
                        <div class="last">
							<span class="dot dot1"></span><span class="dot dot2"></span><span class="dot dot3"></span><span class="dot dot4"></span><span class="dot dot5"></span><span class="dot dot6"></span><span class="dot dot7"></span><span class="dot dot8"></span><span class="dot dot9"></span><span class="dot dot10"></span><span class="dot dot11"></span><span class="dot dot12"></span><span class="dot dot13"></span><span class="dot dot14"></span><span class="dot dot15"></span><span class="dot dot16"></span><span class="dot dot17"></span><span class="dot dot18"></span><span class="dot dot19"></span><span class="dot dot20"></span><span class="dot dot21"></span><span class="dot dot22"></span><span class="dot dot23"></span><span class="dot dot25"></span><span class="dot dot26"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="itens">
                <div class="item">
                    <div class="detail rio">
						<div class="info">
							<div class="main-call">
								<p class="small-text">We'll help you</p>

								<h2>Find your way <br/>
									to Rio de Janeiro
								</h2>
							</div>
							<div class="details">
								<div class="left">
									<p class="small-text">Fligths from</p>

									<h3>70
										<small class="small-text">R$/person</small>
									</h3>
								</div>
								<div class="right">
									<a href="#" class="btn-text-cta">
										<span class="glyphicon glyphicon-chevron-right"></span>
										More Destinations
									</a>
								</div>
							</div>
							<div class="recent-searches-widget">
								<h4 class="widget-title">Recent Searches</h4>

								<div class="searches">
									<ul>
										<li>
											<span class="origin">Santa Catarina</span>
											<span class="ico-separator">&nbsp;</span>
											<span class="destination">Cuiabá</span>
										</li>
										<li>
											<span class="origin">São Paulo</span>
											<span class="ico-separator">&nbsp;</span>
											<span class="destination">Porto Alegre</span>
										</li>
										<li>
											<span class="origin">Rio de Janeiro</span>
											<span class="ico-separator">&nbsp;</span>
											<span class="destination">Brasília</span>
										</li>
									</ul>
								</div>
							</div>
						</div>

                    </div>
                    <img src="~/Content/images/banner/banner-home-test.jpg" alt="" class="image" />
                </div>
                <div class="item">
					<div class="detail rio">
						<div class="info">
							<div class="main-call">
								<p class="small-text">We'll help you</p>

								<h2>Find your way <br/>
									to São Paulo
								</h2>
							</div>
							<div class="details">
								<div class="left">
									<p class="small-text">Fligths from</p>

									<h3>90
										<small class="small-text">R$/person</small>
									</h3>
								</div>
								<div class="right">
									<a href="#" class="btn-text-cta">
										<span class="glyphicon glyphicon-chevron-right"></span>
										More Destinations
									</a>
								</div>
							</div>
							<div class="recent-searches-widget">
								<h4 class="widget-title">Recent Searches</h4>

								<div class="searches">
									<ul>
										<li>
											<span class="origin">Santa Catarina</span>
											<span class="ico-separator">&nbsp;</span>
											<span class="destination">Cuiabá</span>
										</li>
										<li>
											<span class="origin">São Paulo</span>
											<span class="ico-separator">&nbsp;</span>
											<span class="destination">Porto Alegre</span>
										</li>
										<li>
											<span class="origin">Rio de Janeiro</span>
											<span class="ico-separator">&nbsp;</span>
											<span class="destination">Brasília</span>
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
                    <img src="~/Content/images/banner/banner-home-test-2.jpg" alt="" class="image" />
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid home">
	<div class="row booking-flight-widget" data-behavior="homeBookingWidget">
		<div class="justkidding"></div>
	</div>
    <div class="row">
        <div class="home-detail-wrapper">
            <div class="destinations">
                <h1 class="general-title">AFFORDABLE TRAVEL ACCOMIDATIONS IN</h1>
                <h2 class="general-subtitle">Destinations all over the world</h2>
                <div class="boxes">
                    <div class="box box1">
                        <p class="country">New York</p>
                        <p class="details">HOTEL + FLIGHT FROM</p>
                        <p class="value">R$ 1443</p>
                    </div>
                    <div class="box box2">
                        <p class="country">New York</p>
                        <p class="details">HOTEL + FLIGHT FROM</p>
                        <p class="value">R$ 1443</p>
                    </div>
                    <div class="box box3">
                        <p class="country">New York</p>
                        <p class="details">HOTEL + FLIGHT FROM</p>
                        <p class="value">R$ 1443</p>
                    </div>
                    <div class="box box4">
                        <p class="country">New York</p>
                        <p class="details">HOTEL + FLIGHT FROM</p>
                        <p class="value">R$ 1443</p>
                    </div>
                </div>
            </div>
            <div class="fly-me-out">
                <div class="wrapper-fly-me-out">
                    <div class="top">
                        <h1 class="general-title">Fly me out of</h1>
                        <h2 class="general-subtitle">Sao Paulo, Brazil</h2>
                        <p class="description">
                        Book your flights with Submarino for affordable air travel to destinations all over Brazil and the rest of the world
                        </p>
                        <div class="slider">
                            <div class="toggle-switch">
                                <button type="button">FLIGHT OFFERS</button>
                                <input type="checkbox" class="switch" checked>
                                <button type="button">HOTEL OFFERS</button>
                            </div>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="best-deals">
                            <p class="initial">THE BEST DEALS FROM</p>
                            <p class="destin-name">Sao Paulo</p>
                            <p class="detail">INCLUDE FEES & CHARGES</p>
                            <a class="link" href="#">OTHER DEALS ON FLIGHTS</a>
                        </div>
                        <div class="bar departing">
                            <span class="destin-name top" data-item="1">
                                <div class="mask">
                                    <p class="date">DEPARTING AUGUST 14 TO</p>
                                    <p class="name">Rome</p>
                                </div>
                            </span>
                            <span class="destin-name" data-item="2">
                                <div class="mask">
                                    <p class="date">DEPARTING AUGUST 10 TO</p>
                                    <p class="name">New York</p>
                                </div>
                            </span>
                            <span class="destin-name" data-item="3">
                                <div class="mask">
                                    <p class="date">DEPARTING AUGUST 12 TO</p>
                                    <p class="name">Miami</p>
                                </div>
                            </span>
                            <span class="destin-name" data-item="4">
                                <div class="mask">
                                    <p class="date">DEPARTING AUGUST 5 TO</p>
                                    <p class="name">Amsterdam</p>
                                </div>
                            </span>
                            <span class="destin-name" data-item="5">
                                <div class="mask">
                                    <p class="date">DEPARTING AUGUST 10 TO</p>
                                    <p class="name">Venice</p>
                                </div>
                            </span>
                            <span class="destin-name" data-item="6">
                                <div class="mask">
                                    <p class="date">DEPARTING AUGUST 9 TO</p>
                                    <p class="name">Paris</p>
                                </div>
                            </span>
                            <span class="destin-name" data-item="7">
                                <div class="mask">
                                    <p class="date">DEPARTING AUGUST 14 TO</p>
                                    <p class="name">Chicago</p>
                                </div>
                            </span>
                            <span class="destin-name" data-item="8">
                                <div class="mask">
                                    <p class="date">DEPARTING AUGUST 12 TO</p>
                                    <p class="name">Milan</p>
                                </div>
                            </span>
                            <span class="destin-name" data-item="9">
                                <div class="mask">
                                    <p class="date">DEPARTING AUGUST 12 TO</p>
                                    <p class="name">Los Angels</p>
                                </div>
                            </span>
                            <span class="destin-name" data-item="10">
                                <div class="mask">
                                    <p class="date">DEPARTING AUGUST 9 TO</p>
                                    <p class="name">Madrid</p>
                                </div>
                            </span>
                        </div>
                        <div class="bar value">
                            <span class="destin-name top" data-item="1">
                                <div class="mask">
                                    <p class="date">R$ / Person</p>
                                    <p class="name">1727</p>
                                </div>
                            </span>
                            <span class="destin-name" data-item="2">
                                <div class="mask">
                                    <p class="date">R$ / Person</p>
                                    <p class="name">New York</p>
                                </div>
                            </span>
                            <span class="destin-name" data-item="3">
                                <div class="mask">
                                    <p class="date">R$ / Person</p>
                                    <p class="name">1443</p>
                                </div>
                            </span>
                            <span class="destin-name" data-item="4">
                                <div class="mask">
                                    <p class="date">R$ / Person</p>
                                    <p class="name">1727</p>
                                </div>
                            </span>
                            <span class="destin-name" data-item="5">
                                <div class="mask">
                                    <p class="date">R$ / Person</p>
                                    <p class="name">1727</p>
                                </div>
                            </span>
                            <span class="destin-name" data-item="6">
                                <div class="mask">
                                    <p class="date">R$ / Person</p>
                                    <p class="name">1727</p>
                                </div>
                            </span>
                            <span class="destin-name" data-item="7">
                                <div class="mask">
                                    <p class="date">R$ / Person</p>
                                    <p class="name">1902</p>
                                </div>
                            </span>
                            <span class="destin-name" data-item="8">
                                <div class="mask">
                                    <p class="date">R$ / Person</p>
                                    <p class="name">1682</p>
                                </div>
                            </span>
                            <span class="destin-name" data-item="9">
                                <div class="mask">
                                    <p class="date">R$ / Person</p>
                                    <p class="name">1369</p>
                                </div>
                            </span>
                            <span class="destin-name" data-item="10">
                                <div class="mask">
                                    <p class="date">R$ / Person</p>
                                    <p class="name">1660</p>
                                </div>
                            </span>
                        </div>                        
                        <div class="image">
                            <img src="~/Content/images/home/lateral-destin1.jpg">
                            <div class="texts">
                                <button type="button" class="btn btn-sm btn-default">SELECT PACKAGE</button>
                                <p class="description1">RELAXING STAYS IN</p>
                                <p class="destin">Rome, Italy</p>
                                <p class="description2">Spend your summer holiday experiencing European history</p>
                                <a class="link" href="#">OTHER PACKAGES TO ROME</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
            <div class="popular-destinations">
                <h1 class="general-title">FLY TO MORE</h1>
                <h2 class="general-subtitle">Popular Destinations</h2>
                <div class="boxes">
                    <div class="box box1">
						<div class="overlay"></div>

						<div class="info">
							<p class="details">flights to</p>

							<p class="country">New York</p>

							<p class="details city">
								Brasil
							</p>

							<div class="hover-box">
								<p>Paris has the reputation of being the most beautiful and romantic of all cities.</p>
								<a href="#">More Information</a>
							</div>
						</div>

                    </div>
                    <div class="box box2">
						<div class="overlay"></div>

						<div class="info">
							<p class="details">flights to</p>

							<p class="country">New York</p>

							<p class="details city">
								Brasil
							</p>

							<div class="hover-box">
								<p>Paris has the reputation of being the most beautiful and romantic of all cities.</p>
								<a href="#">More Information</a>
							</div>
						</div>
                    </div>
                    <div class="box box3">
						<div class="overlay"></div>

						<div class="info">
							<p class="details">flights to</p>

							<p class="country">New York</p>

							<p class="details city">
								Brasil
							</p>

							<div class="hover-box">
								<p>Paris has the reputation of being the most beautiful and romantic of all cities.</p>
								<a href="#">More Information</a>
							</div>
						</div>
                    </div>
                    <div class="box box4">
						<div class="overlay"></div>

						<div class="info">
							<p class="details">flights to</p>

							<p class="country">New York</p>

							<p class="details city">
								Brasil
							</p>

							<div class="hover-box">
								<p>Paris has the reputation of being the most beautiful and romantic of all cities.</p>
								<a href="#">More Information</a>
							</div>
						</div>
                    </div>
                    <div class="box box5">
						<div class="overlay"></div>

						<div class="info">
							<p class="details">flights to</p>

							<p class="country">New York</p>

							<p class="details city">
								Brasil
							</p>

							<div class="hover-box">
								<p>Paris has the reputation of being the most beautiful and romantic of all cities.</p>
								<a href="#">More Information</a>
							</div>
						</div>
                    </div>
                    <div class="box box6">
						<div class="overlay"></div>

						<div class="info">
							<p class="details">flights to</p>

							<p class="country">New York</p>

							<p class="details city">
								Brasil
							</p>

							<div class="hover-box">
								<p>Paris has the reputation of being the most beautiful and romantic of all cities.</p>
								<a href="#">More Information</a>
							</div>
						</div>
                    </div>
                    <div class="box box7">
						<div class="overlay"></div>

						<div class="info">
							<p class="details">flights to</p>

							<p class="country">New York</p>

							<p class="details city">
								Brasil
							</p>

							<div class="hover-box">
								<p>Paris has the reputation of being the most beautiful and romantic of all cities.</p>
								<a href="#">More Information</a>
							</div>
						</div>
                    </div>
                    <div class="box box8">
						<div class="overlay"></div>

						<div class="info">
							<p class="details">flights to</p>

							<p class="country">New York</p>

							<p class="details city">
								Brasil
							</p>

							<div class="hover-box">
								<p>Paris has the reputation of being the most beautiful and romantic of all cities.</p>
								<a href="#">More Information</a>
							</div>
						</div>
                    </div>
                </div>
            </div>
            <div class="banner">
                <div class="content">
                    <img src="~/Content/images/home/banner1.jpg">
                </div>
            </div>
            <div class="lowest">
                <p class="subtitle">Our commercial agreements allow us to provide you with the best deals on the web</p>
                <a class="tell-more">TELL ME MORE</a>
                <div class="wrapper-bottom">
                    <div class="why">
                        <img class="submarine" src="~/Content/images/home/logo.png"></img>
                        <p>WHY SHOULD I</p>
                        <p class="purchase">Purchase with Submarino?</p>
                    </div>
                    <ul class="icons">
                        <li class="icon ">
                            <img src="~/Content/images/home/money.png">
                            <p class="text">CHEAPEST FLIGHTS</p>
                        </li>
                        <li class="icon ">
                            <img src="~/Content/images/home/people.png">
                            <p class="text">MORE PARTNERS</p>
                        </li>
                        <li class="icon ">
                            <img src="~/Content/images/home/phone.png">
                            <p class="text">CUSTOMER SERVICE</p>
                        </li>
                        <li class="icon ">
                            <img src="~/Content/images/home/parcels.png">
                            <p class="text">BETTER CREDIT</p>
                        </li>
                        <li class="icon ">
                            <img src="~/Content/images/home/cronometer.png">
                            <p class="text">REAL TIME UPDATES</p>
                        </li>
                        <li class="icon ">
                            <img src="~/Content/images/home/baggage.png">
                            <p class="text">FLEXIBLE PACKAGES</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_FooterFull")