@{
    ViewBag.Title = "Home";
}

<div class="marquee-hotel home">
    <div class="marquee-hotel-container">
        <div class="marquee still" data-behavior="marquee">
            <div class="current transition">
                <div class="detail"></div>
                <div class="tab transition">
                    <button type="button" class="btn transition"></button>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <div class="ticket-dots">
                        <div class="tab-crop transition"></div>
                        <div class="first">
                            <span class="dot dot1"></span><span class="dot dot2"></span><span class="dot dot3"></span><span class="dot dot4"></span><span class="dot dot5"></span><span class="dot dot6"></span><span class="dot dot7"></span><span class="dot dot8"></span><span class="dot dot9"></span><span class="dot dot10"></span><span class="dot dot11"></span><span class="dot dot12"></span><span class="dot dot13"></span><span class="dot dot14"></span><span class="dot dot15"></span><span class="dot dot16"></span><span class="dot dot17"></span><span class="dot dot18"></span><span class="dot dot19"></span><span class="dot dot20"></span>
                        </div>
                        <div class="last">
                            <span class="dot dot1"></span><span class="dot dot2"></span><span class="dot dot3"></span><span class="dot dot4"></span><span class="dot dot5"></span><span class="dot dot6"></span><span class="dot dot7"></span><span class="dot dot8"></span><span class="dot dot9"></span><span class="dot dot10"></span><span class="dot dot11"></span><span class="dot dot12"></span><span class="dot dot13"></span><span class="dot dot14"></span><span class="dot dot15"></span><span class="dot dot16"></span><span class="dot dot17"></span><span class="dot dot18"></span><span class="dot dot19"></span><span class="dot dot20"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="itens">
                <div class="item">
                    <div class="detail">
                        <h2>São Paulo</h2>
                    </div>
                    <img src="~/Content/images/placeholder/marquee-1.jpg" alt="" class="image" />
                </div>
                <div class="item">
                    <div class="detail">
                        <h2>Rio de Janeiro</h2>
                    </div>
                    <img src="~/Content/images/placeholder/marquee-2.jpg" alt="" class="image" />
                </div>
                <div class="item">
                    <div class="detail">
                        <h2>Porto Alegre</h2>
                    </div>
                    <img src="~/Content/images/placeholder/marquee-3.jpg" alt="" class="image" />
                </div>
                <div class="item">
                    <div class="detail">
                        <h2>Fortaleza</h2>
                    </div>
                    <img src="~/Content/images/placeholder/marquee-4.jpg" alt="" class="image" />
                </div>
                <div class="item">
                    <div class="detail">
                        <h2>Salvador</h2>
                    </div>
                    <img src="~/Content/images/placeholder/marquee-5.jpg" alt="" class="image" />
                </div>
            </div>
        </div>
        <div class="galeria hider">
            <div class="wrapper">
                <a href="#" id="prev"><img src="~/Content/images/banner/thumbs/prev.jpg"></a>
                <div id="" class="slideshow"
                     data-cycle-fx="carousel"
                     data-cycle-timeout="0"
                     data-cycle-next="#next"
                     data-cycle-prev="#prev"
                     data-cycle-pager="#pager4">
                    <a href="~/Content/images/banner/big/Dubai.jpg" class="grouped_elements" rel="group1"><img src="~/Content/images/banner/thumbs/peq-Dubai.jpg"></a>
                    <a href="~/Content/images/banner/big/grecia.jpg" class="grouped_elements" rel="group1"><img src="~/Content/images/banner/thumbs/peq-grecia.jpg"></a>
                    <a href="~/Content/images/banner/big/MG.jpg" class="grouped_elements" rel="group1"><img src="~/Content/images/banner/thumbs/peq-MG.jpg"></a>
                    <a href="~/Content/images/banner/big/paraty.jpg" class="grouped_elements" rel="group1"><img src="~/Content/images/banner/thumbs/peq-paraty.jpg"></a>
                    <a href="~/Content/images/banner/big/Portugal.jpg" class="grouped_elements" rel="group1"><img src="~/Content/images/banner/thumbs/peq-Portugal.jpg"></a>
                    <a href="~/Content/images/banner/big/RiodeJaneiro.jpg" class="grouped_elements" rel="group1"><img src="~/Content/images/banner/thumbs/peq-RiodeJaneiro.jpg"></a>
                    <a href="~/Content/images/banner/big/saopaulo.jpg" class="grouped_elements" rel="group1"><img src="~/Content/images/banner/thumbs/peq-saopaulo.jpg"></a>
                </div>
                <a href="#" id="next"><img src="~/Content/images/banner/thumbs/next.jpg"></a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid home">
    <div class="row">
        <div class="home-detail-wrapper">
            <div class="destinations">
                <h1 class="title">AFFORDABLE TRAVEL ACCOMIDATIONS IN</h1>
                <h2 class="subtitle">Destinations all over the world</h2>
                <div class="boxes">
                    <div class="box box1">
                        <p class="country">New York</p>
                        <p class="details">HOTEL + FLIGHT FROM</p>
                        <p class="value">R$ 1443</p>
                    </div>
                    <div class="box box2">
                        <p class="country">New York</p>
                        <p class="details">HOTEL + FLIGHT FROM</p>
                        <p class="value">R$ 1443</p>
                    </div>
                    <div class="box box3">
                        <p class="country">New York</p>
                        <p class="details">HOTEL + FLIGHT FROM</p>
                        <p class="value">R$ 1443</p>
                    </div>
                    <div class="box box4">
                        <p class="country">New York</p>
                        <p class="details">HOTEL + FLIGHT FROM</p>
                        <p class="value">R$ 1443</p>
                    </div>
                </div>
            </div>
            <div class="popular-destinations">
                <h1 class="title">FLY TO MORE</h1>
                <h2 class="subtitle">Popular Destinations</h2>
                <div class="boxes">
                    <div class="box box1">
                        <p class="details">flights to</p>
                        <p class="country">New York</p>
                        <p class="details">Brasil</p>
                    </div>
                    <div class="box box2">
                        <p class="details">flights to</p>
                        <p class="country">New York</p>
                        <p class="details">Brasil</p>
                    </div>
                    <div class="box box3">
                        <p class="details">flights to</p>
                        <p class="country">New York</p>
                        <p class="details">Brasil</p>
                    </div>
                    <div class="box box4">
                        <p class="details">flights to</p>
                        <p class="country">New York</p>
                        <p class="details">Brasil</p>
                    </div>
                    <div class="box box5">
                        <p class="details">flights to</p>
                        <p class="country">New York</p>
                        <p class="details">Brasil</p>
                    </div>
                    <div class="box box6">
                        <p class="details">flights to</p>
                        <p class="country">New York</p>
                        <p class="details">Brasil</p>
                    </div>
                    <div class="box box7">
                        <p class="details">flights to</p>
                        <p class="country">New York</p>
                        <p class="details">Brasil</p>
                    </div>
                    <div class="box box8">
                        <p class="details">flights to</p>
                        <p class="country">New York</p>
                        <p class="details">Brasil</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_FooterFull")