/* VERDES */
/* AZUIS */
/* CINZAS */
/* Vermelhos */
/*#region Forms */
input[type=text],
input[type=email],
input[type=password] {
  padding: 10px;
  height: 40px;
  border: 1px solid #c9d0d2;
  color: #333333;
  font-size: 13px;
  font-family: "Omnes", sans-serif;
  line-height: 20px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
input[type=text]::-moz-placeholder,
input[type=email]::-moz-placeholder,
input[type=password]::-moz-placeholder {
  color: #7da5b8;
  opacity: 1;
}
input[type=text]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder {
  color: #7da5b8;
}
input[type=text]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder {
  color: #7da5b8;
}
input[type=text].form-control::-moz-placeholder,
input[type=email].form-control::-moz-placeholder,
input[type=password].form-control::-moz-placeholder {
  color: #7da5b8;
}
textarea {
  color: #333333;
}
textarea::-moz-placeholder {
  color: #7da5b8;
  opacity: 1;
}
textarea:-ms-input-placeholder {
  color: #7da5b8;
}
textarea::-webkit-input-placeholder {
  color: #7da5b8;
}
textarea.form-control::-moz-placeholder {
  color: #7da5b8;
}
option[disabled] {
  background-color: #EEE;
}
.form-box {
  margin-bottom: 10px;
  border-top: 1px solid #c9d0d2;
  border-left: 1px solid #c9d0d2;
}
.form-box .row {
  border-bottom: 1px solid #c9d0d2;
}
.form-box .form-control {
  padding: 29px 10px;
  height: 78px;
  border: none;
  border-right: 1px solid #c9d0d2;
  background-color: #ffffff;
  font-weight: bold;
}
.form-box .form-control:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.form-box .custom-select {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 78px;
  border-right: 1px solid #c9d0d2;
  background: #fff;
}
.form-box .custom-select select {
  padding: 29px 0 29px 5px;
  height: 78px;
  border: none;
  background: none;
  box-shadow: none;
  color: #7da5b8;
}
.form-box .form-group {
  position: relative;
  margin: 0;
}
.form-box .form-group.required:before {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #7da5b8;
  content: '*';
}
.form-box.form-box-inline {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-box.form-box-inline .form-control {
  padding: 0 10px;
  height: 38px;
}
.form-box.form-box-inline .custom-select {
  height: 38px;
}
.form-box.form-box-inline .custom-select select {
  display: block;
  padding: 10px 0 10px 5px;
  height: 38px;
}
.form-box .has-error .form-group:before {
  z-index: 2;
  color: #ed1a3b;
}
.form-box .has-error .form-group {
  position: relative;
  z-index: 1;
  color: #ed1a3b;
  -webkit-box-shadow: 0px 0px 0px 2px #ed1a3b;
  -moz-box-shadow: 0px 0px 0px 2px #ed1a3b;
  box-shadow: 0px 0px 0px 2px #ed1a3b;
}
.form-box .has-error .form-control::-moz-placeholder {
  color: #ed1a3b;
  opacity: 1;
}
.form-box .has-error .form-control:-ms-input-placeholder {
  color: #ed1a3b;
}
.form-box .has-error .form-control::-webkit-input-placeholder {
  color: #ed1a3b;
}
.form-box .has-error select {
  color: #ed1a3b;
}
/*#endregion */
/*#region Filter */
.filter {
  padding: 20px 8.33%;
  background-color: #ffffff;
}
.filter-container {
  background: #F00;
}
/*#endregion */
/*#region booking details */
.aside-details {
  position: fixed;
  top: 90px;
  bottom: 10px;
  z-index: 2011;
  background-color: #fafafa;
  color: #999999;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 11px;
  font-family: Omnes;
  line-height: 1.8em;
  -webkit-box-shadow: -2px 0px 5px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: -2px 0px 5px 0px rgba(50, 50, 50, 0.1);
  box-shadow: -2px 0px 5px 0px rgba(50, 50, 50, 0.1);
}
.aside-details.smallHeight {
  bottom: auto;
}
.aside-details .scroll-list {
  position: relative;
  overflow-y: auto;
}
.aside-details .scroll-list.scroll-package {
  padding-top: 40px;
}
.aside-details .scroll-list.clone {
  position: absolute;
  visibility: hidden;
}
.aside-details .scroll-list .btn-black {
  border-top: 1px solid #fff;
}
.aside-details .scroll-list .btn-black[data-aside=top] {
  position: absolute;
  top: 0;
  left: 0;
  border-top: none;
}
.aside-details .hotel-list .box-info {
  border-bottom: none;
}
.aside-details .box-info {
  padding: 10px 7% 15px;
  border-bottom: 1px solid #e0e2e3;
  background-color: #ffffff;
}
.aside-details .box-info .date {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e0e2e3;
  color: #333333;
  text-transform: none;
  font-size: 15px;
}
.aside-details .auxiliar-info {
  color: #999999;
  font-weight: 500;
  font-size: 12px;
}
.aside-details .classification {
  color: #999999;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 11px;
}
.aside-details .classification .stars {
  float: right;
}
.aside-details h1 {
  margin: 10px 0 0;
  color: #333333;
  text-align: left;
  text-transform: none;
  font-weight: 500;
  font-size: 19px;
}
.aside-details .outbound {
  color: #00aeef;
}
.aside-details .outbound .glyphicon {
  float: right;
}
.aside-details .inbound {
  color: #39c81f;
}
.aside-details .inbound .glyphicon {
  float: right;
}
.aside-details .depart-arrive {
  margin-bottom: 15px;
}
.aside-details .depart-arrive .time {
  display: block;
  color: #333333;
  font-size: 20px;
}
.aside-details hr {
  margin: 5px 0 20px;
  border-top: 1px solid #e0e2e3;
}
.aside-details .more-info {
  display: none;
  padding: 15px 0;
  border-top: 1px solid #e0e2e3;
}
.aside-details .more-info td {
  color: #333333;
  font-size: 13px;
}
.aside-details .more-info hr {
  margin: 15px 0;
}
.aside-details table {
  width: 100%;
}
.aside-details td {
  text-align: right;
}
.aside-details .more-info-link {
  color: #00aeef;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 11px;
}
.aside-details .description-price {
  padding: 15px 8% 20px;
  background-color: #fafafa;
}
.aside-details .description-price .table-price {
  margin-top: 20px;
}
.aside-details .description-price .table-price:first-child {
  margin-top: 0;
}
.aside-details .table-price td {
  color: #00aeef;
}
.aside-details .total-price-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fafafa;
}
.aside-details .block-price-box {
  position: relative;
  padding: 15px 7%;
  border-top: 1px solid #e0e2e3;
}
.aside-details .block-price-box:before {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 8px;
  height: 8px;
  background-color: #eceeef;
  content: '';
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.aside-details .block-price-box:after {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 8px;
  height: 8px;
  background-color: #eceeef;
  content: '';
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.aside-details .block-price-box th span {
  color: #58595b;
}
.aside-details .block-price-box .table-price {
  margin-bottom: 20px;
}
.aside-details .block-price-box .stroke {
  text-decoration: line-through;
}
.aside-details .table-price-final td {
  color: #00aeef;
  vertical-align: bottom;
  font-size: 25px;
}
.aside-details .table-price-final th {
  line-height: 1.2em;
}
.aside-details.smallResolution {
  position: relative;
  right: 0;
  margin-top: -50px;
}
/*#endregion */
/*#region insurance box */
.insurance-box {
  margin-bottom: 40px;
  border: 1px solid #c9d0d2;
  background-color: #fafafa;
}
.insurance-box .description {
  padding: 20px 20px 20px 160px;
  min-height: 180px;
  background: url(../images/icon/icon-luggage-airplane.png) 25px 35px no-repeat;
  color: #999999;
  font-size: 13px;
  line-height: 1.6em;
}
.insurance-box .description h4 {
  color: #58595b;
  font-weight: 500;
  font-size: 20px;
}
.insurance-box .description a {
  text-decoration: underline;
}
.insurance-box .insurance-choice {
  border-left: 1px solid #c9d0d2;
  font-weight: bold;
}
.insurance-box .insurance-choice .top {
  padding: 25px 30px;
  border-bottom: 1px solid #c9d0d2;
  font-weight: bold;
}
.insurance-box .insurance-choice .choice-box {
  padding: 25px 30px;
  min-height: 130px;
  background-color: #fff;
}
.insurance-box .insurance-choice .checkbox label {
  padding-left: 40px;
  min-height: 18px;
  color: #333333;
  font-size: 13px;
}
.insurance-box .insurance-choice table {
  width: 100%;
  color: #333333;
  font-size: 13px;
}
.insurance-box .insurance-choice table td {
  padding-bottom: 5px;
}
.insurance-box .insurance-choice table .price {
  color: #00aeef;
  text-align: right;
  font-weight: 500;
  font-family: Omnes;
}
/*#endregion */
.flow-navigation {
  min-width: 970px;
  padding: 15px 0;
  border-bottom: 1px solid #c9d0d2;
  position: fixed;
  top: 120px;
  left: 0;
  right: 0;
  background: #eceeef;
  z-index: 2010;
}
.flow-navigation .pager {
  margin: 0;
  height: 40px;
  line-height: 30px;
}
.flow-navigation.middle {
  border-top: 1px solid #c9d0d2;
}
.flux-collapsed .flow-navigation,
.collapsed .flow-navigation {
  top: 80px;
}
.btn-black {
  position: relative;
  z-index: 1;
  padding: 0 20px;
  border: none;
  background-color: #262a36;
  color: #ffffff;
  text-align: left;
  font-size: 15px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
  color: #ffffff;
}
.btn-black.float {
  position: absolute;
  left: 0;
}
.btn-black .glyphicon {
  position: absolute;
  top: 50%;
  right: 10px;
}
/*#region custom-select */
.custom-select {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
}
.custom-select select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 4px 3px 3px 5px;
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid #e0e6e9;
  border: none;
  background: #fafafa;
  -webkit-box-shadow: 2px 2px 1px 0 #D9D9D9;
  box-shadow: 2px 2px 1px 0 #D9D9D9;
  color: #00aeef;
  font-weight: 700;
  font-size: 13px;
  font-family: "Omnes", sans-serif;
  line-height: 1.2em;
  cursor: pointer;
}
.custom-select select option {
  color: #333333;
  font-family: "Omnes", sans-serif;
}
/*#region Credit Card */
.card-information-box {
  position: relative;
  clear: both;
}
.card-number {
  position: relative;
  margin-bottom: 35px;
  width: 342px;
  height: 177px;
  background: url(../images/credit-card-small.png) 0 0 no-repeat;
}
.card-number label {
  position: absolute;
}
.card-number .card-number-1 input,
.card-number .card-number-2 input,
.card-number .card-number-3 input,
.card-number .card-number-4 input {
  padding: 5px;
  width: 50px;
  font-size: 14px;
}
.card-number .card-number-1 {
  top: 40px;
  left: 15px;
}
.card-number .card-number-2 {
  top: 40px;
  left: 75px;
}
.card-number .card-number-3 {
  top: 40px;
  left: 140px;
}
.card-number .card-number-4 {
  top: 40px;
  left: 205px;
}
.card-number .card-date {
  top: 83px;
  left: 100px;
}
.card-number .card-date span {
  display: inline-block;
  color: #999999;
  vertical-align: middle;
  text-align: right;
  font-size: 10px;
  line-height: 1.2em;
}
.card-number .card-date input {
  margin-left: 10px;
  padding: 3px 5px;
  width: 50px;
  height: 25px;
  font-weight: bold;
}
.card-number .card-name {
  top: 115px;
  left: 15px;
}
.card-number .card-name input {
  padding: 3px 5px;
  width: 177px;
  height: 25px;
  font-weight: bold;
}
.card-number .card-code {
  top: 75px;
  left: 290px;
}
.card-number .card-code input {
  padding: 3px 5px;
  width: 40px;
  height: 25px;
  font-weight: bold;
}
.card-number .glyphicon {
  position: absolute;
  top: 115px;
  left: 205px;
}
.card-information .radio {
  margin: 30px 0 10px 0;
  padding: 0;
}
.card-information .radio .glyphicon {
  display: block;
  margin: 25px 0 0 -35px;
}
.card-information .radio .glyphicon.glyphicon-visa {
  margin-left: -38px;
}
.card-information .radio li {
  display: inline-block;
  margin-right: 2px;
  padding: 10px 0 0 15px;
  width: 50px;
  height: 71px;
  border: 1px solid transparent;
}
.card-information .radio li.active {
  border-color: #ffffff;
  background-color: #e2e6e7;
}
/*#endregion */
@media (min-width: 1200px) {
  .card-number {
    width: 424px;
    height: 218px;
    background: url(../images/credit-card.png) 0 0 no-repeat;
  }
  .card-number .card-number-1 input,
  .card-number .card-number-2 input,
  .card-number .card-number-3 input,
  .card-number .card-number-4 input {
    width: 65px;
    font-size: 18px;
  }
  .card-number .card-number-1 {
    top: 50px;
    left: 20px;
  }
  .card-number .card-number-2 {
    top: 50px;
    left: 95px;
  }
  .card-number .card-number-3 {
    top: 50px;
    left: 175px;
  }
  .card-number .card-number-4 {
    top: 50px;
    left: 255px;
  }
  .card-number .card-date {
    top: 102px;
    left: 134px;
  }
  .card-number .card-date input {
    padding: 5px 10px;
    width: 65px;
    height: 30px;
  }
  .card-number .card-name {
    top: 145px;
    left: 20px;
  }
  .card-number .card-name input {
    padding: 5px 10px;
    width: 220px;
    height: 30px;
  }
  .card-number .card-code {
    top: 95px;
    left: 360px;
  }
  .card-number .card-code input {
    padding: 5px 8px;
    width: 40px;
    height: 30px;
  }
  .card-number .glyphicon {
    top: 145px;
    left: 255px;
  }
  .card-information .radio {
    padding: 0;
  }
  .card-information .radio li {
    margin-right: 5px;
    padding: 10px 0 0 20px;
    width: 60px;
  }
}
.ssl-seal {
  color: #999999;
  font-weight: bold;
  font-size: 11px;
  line-height: 1.2em;
}
.ssl-seal .glyphicon {
  position: relative;
  top: -3px;
  margin-right: 10px;
  vertical-align: middle;
}
.installment-table {
  width: 100%;
  text-align: left;
  font-size: 10px;
  font-family: "Omnes", Helvetica, sans-serif;
}
.installment-table td,
.installment-table .radio {
  padding: 5px 10px;
  color: #666666;
}
.installment-table th {
  padding: 5px 10px;
  color: #999999;
  line-height: 1.4em;
}
.installment-table b {
  font-size: 12px;
}
.installment-table tbody tr {
  background: url(../images/bg/dotted-white.png) top left repeat-x;
}
.installment-table tbody tr:first-child {
  background: none;
}
.custom-select:after {
  position: absolute;
  top: 2px;
  right: 0;
  bottom: 2px;
  width: 30px;
  background-color: #fff;
  background-image: url(../images/icon/icon-filter-arrow-normal.png);
  background-position: center center;
  background-repeat: no-repeat;
  content: " ";
  pointer-events: none;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select {
    padding-right: 30px;
  }
}
/*#endregion */
/*#region how-to-select-flights */
.container-how-to-select-flights {
  position: relative;
  max-width: 360px;
}
.container-how-to-select-dates {
  position: relative;
  max-width: 365px;
}
.container-how-to-add-insurance {
  position: relative;
  max-width: 305px;
}
.container-how-to-select-a-seat {
  position: relative;
  max-width: 400px;
}
.container-flight-requires-documentation {
  position: relative;
  max-width: 375px;
}
.container-important-insurance-notice {
  position: relative;
  max-width: 345px;
}
/*#endregion */
/*#region installments-available */
.container-installments-available {
  position: relative;
  width: 425px;
}
.container-installments-available ul {
  padding: 0;
}
.container-installments-available ul li {
  float: left;
  padding: 0 13px;
  border-left: 1px solid #eaeaea;
  color: #262a36;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
}
.container-installments-available ul li img {
  display: block;
}
.container-installments-available ul li:first-child {
  border-left: none;
}
/*#endregion */
/*#region container-send-sms-confirmation */
.container-send-sms-confirmation {
  position: relative;
  width: 375px;
}
/*#endregion */
/*#region container-hover-seat */
.container-hover-seat {
  position: relative;
  width: 225px;
  text-transform: uppercase;
}
.container-hover-seat .popover {
  background: #f9f9f9;
}
.container-hover-seat .seat-number {
  color: #58595b;
  text-align: center;
  font-size: 40px;
  line-height: 1em;
  height: 40px;
}
.container-hover-seat .seat-description {
  margin: 0 -15px 15px -15px;
  padding: 0px 15px 15px 15px;
  border-bottom: 1px solid #e5e5e5;
  color: #58595b;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  height: 35px;
}
/*#endregion */
/*#region container-anac-punctuality */
.container-anac-punctuality td {
  color: #333333;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
}
.container-anac-punctuality td strong {
  display: block;
  color: #999999;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
}
.container-anac-punctuality .disclaimer {
  color: #58595b;
}
.container-anac-punctuality .disclaimer ul {
  padding: 0;
}
/*#endregion */
/*#region Alerts */
.booking-alert {
  background: url(../images/icon/icon-booking-alert.png) 10px 20px no-repeat #262a36;
}
.browsing-alert {
  background: url(../images/icon/icon-browsing-alert.png) 10px 20px no-repeat #262a36;
}
.booking-alert,
.browsing-alert {
  padding-right: 30px;
  padding-left: 45px;
  width: 240px;
  border: none;
  color: #FFF;
  font-size: 11px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.booking-alert .close,
.browsing-alert .close {
  position: relative;
  top: -5px;
  right: -10px;
  color: #58595b;
  font-weight: normal;
  font-size: 23px;
}
.assistance-alert {
  position: fixed;
  bottom: 0px;
  z-index: 2009;
  margin: 0px;
  padding: 0 0 0 20px;
  width: 725px;
  border-bottom: 3px solid #ffcb05;
  background: #28bbfd;
  color: #FFF;
  font-size: 11px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.assistance-alert:before {
  float: left;
  margin-top: -10px;
  width: 100px;
  height: 93px;
  background: url(../images/icon/icon-assistance-alert.png) no-repeat;
  content: "";
}
.assistance-alert button {
  margin: 0 10px;
}
.assistance-alert strong {
  display: block;
  margin-top: 15px;
  margin-left: 115px;
  font-size: 20px;
}
.assistance-alert span {
  margin-left: 15px;
  font-size: 15px;
}
.assistance-alert .close,
.modal .close {
  color: #1d86b6;
}
.assistance-alert .close:hover,
.modal .close:hover {
  color: #000;
}
/*#endregion */
/*#region Promos Banner */
.promos-banner {
  position: fixed;
  top: 120px;
  right: 0;
  left: 0;
}
.promos-banner .promos-banner-container {
  margin: 0 auto;
  width: 1280px;
  height: 540px;
  background-image: url(../images/placeholder/flights-promos.png);
}
.promos-banner + .container-fluid {
  position: relative;
  z-index: 1;
}
/*#endregion */
/*#region booking-widget */
.booking-widget {
  background: #FFF;
  width: 522px;
  margin-top: 20px;
}
.booking-widget .nav {
  display: none;
}
.booking-widget #passagens .quadrante1 {
  width: 100%;
  height: 300px;
  outline: solid 1px gray;
}
.booking-widget #passagens .round-trip {
  width: 100px;
  height: 100px;
}
.booking-widget #passagens .steps {
  width: 420px;
  height: 90px;
  float: left;
  padding-left: 43px;
  padding-top: 23px;
}
.booking-widget #passagens .steps .item {
  width: 33%;
  height: 100%;
}
.booking-widget #passagens .menor-preco {
  width: 100px;
  height: 90px;
  float: left;
  padding-top: 26px;
  padding-left: 13px;
}
/*#endregion */
/*#region marquee-hotel */
.collapsed .marquee-hotel,
.flux-collapsed .marquee-hotel {
  top: 131px;
}
.collapsed .marquee-hotel + .container-fluid.top,
.flux-collapsed .marquee-hotel + .container-fluid.top {
  padding-top: 420px;
}
.collapsed .packages .marquee-hotel,
.flux-collapsed .packages .marquee-hotel {
  top: 239px;
}
.collapsed .container-fluid.top-package,
.flux-collapsed .container-fluid.top-package {
  padding-top: 478px;
}
.marquee-hotel {
  position: absolute;
  top: 120px;
  right: 0;
  left: 0;
}
.marquee-hotel .marquee-hotel-container {
  margin: 0 auto;
  min-width: 980px;
  max-width: 1366px;
  width: 100%;
  height: 420px;
}
.marquee-hotel + .container-fluid.top {
  padding-top: 540px;
}
/*#endregion */
.container-popover-medium {
  position: relative;
  width: 360px;
}
/*#region banner-booking */
.banner-booking {
  position: relative;
  margin: 0 auto 13px auto;
  width: 780px;
  height: 220px;
  text-align: left;
}
.banner-booking .banner-booking-content {
  position: absolute;
  bottom: 30px;
  left: 20px;
}
.banner-booking .banner-booking-content h3 {
  width: 200px;
  color: #FFF;
  font-weight: 500;
  font-size: 25px;
  line-height: 1em;
}
.banner-booking .banner-booking-content .btn-text-cta {
  color: #FFF;
  text-decoration: none;
}
.banner-booking .banner-booking-content .btn-text-cta .glyphicon-chevron-right {
  width: 20px;
  height: 20px;
  background: url(../images/icon/icon-text-cta-normal-white.png) center center;
}
/*#endregion */
.alert-no-dates {
  padding: 25px 0;
}
.alert-no-dates:before,
.alert-no-dates:after {
  content: " ";
  display: table;
}
.alert-no-dates:after {
  clear: both;
}
.alert-no-dates .glyphicon {
  float: left;
  margin: 7px 5px 0 0;
}
.alert-no-dates p {
  color: #262a36;
  font-weight: 500;
  font-size: 15px;
}
.alert-no-dates p:nth-child(2) {
  color: #999999;
  font-weight: 400;
  font-size: 11px;
}
.search.simple + .row .aside {
  top: 130px;
}
.step-1,
.step-2,
.step-3 {
  position: relative;
}
.step-1 .float-step,
.step-2 .float-step,
.step-3 .float-step {
  position: absolute;
  top: 0px;
  right: -1px;
  z-index: 1;
  display: block;
  width: 80px;
}
/*#region Spinner */
.spinner-wrapper {
  position: relative;
  display: inline-block;
  padding: 17px 30px 0 30px;
  height: 50px;
  width: 103px;
  font-weight: bold;
  font-size: 12px;
}
.spinner-wrapper .bootstrap-touchspin {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  background: none;
  box-shadow: none;
  font-size: 18px;
  width: 103px;
}
.spinner-wrapper .bootstrap-touchspin input {
  width: 50%;
  height: 50px;
  background-color: transparent;
  color: #00aeef;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.spinner-wrapper .bootstrap-touchspin input:focus {
  outline: none;
  border: none;
}
.spinner-wrapper .bootstrap-touchspin .input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 20px;
  vertical-align: middle;
  display: table-cell;
}
.spinner-wrapper .bootstrap-touchspin .input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-left: -1px;
  position: relative;
  height: 25px;
  border: 1px solid #c9d0d2;
  background-color: #fff;
}
.spinner-wrapper .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up {
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.spinner-wrapper .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down {
  border-top: none;
  -webkit-border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.spinner-wrapper .bootstrap-touchspin .input-group-btn-vertical i {
  position: absolute;
  top: 7px;
  left: 4px;
  font-size: 9px;
  font-weight: normal;
}
.spinner-wrapper.spinner-box {
  padding: 0;
  width: 100px;
}
.spinner-wrapper.spinner-box .bootstrap-touchspin input {
  margin-left: 0;
  margin-top: 6px;
  padding: 0 5px;
  width: 65px;
  height: 40px;
  border: 1px solid #c9d0d2;
  text-align: center;
}
.spinner-wrapper.spinner-box .bootstrap-touchspin input::-moz-placeholder {
  color: #7da5b8;
  font-weight: normal;
  opacity: 1;
}
.spinner-wrapper.spinner-box .bootstrap-touchspin input:-ms-input-placeholder {
  color: #7da5b8;
  font-weight: normal;
}
.spinner-wrapper.spinner-box .bootstrap-touchspin input::-webkit-input-placeholder {
  color: #7da5b8;
  font-weight: normal;
}
/*#endregion */
/*#region Marquee */
.marquee {
  height: 420px;
  width: 100%;
}
.marquee > .itens {
  display: none;
}
.marquee > .current {
  height: 420px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-position: right center;
  background-repeat: no-repeat;
}
.marquee > .current.transition {
  -moz-transition: background-position ease-in-out 0.3s;
  -o-transition: background-position ease-in-out 0.3s;
  -webkit-transition: background-position ease-in-out 0.3s;
  transition: background-position ease-in-out 0.3s;
}
.marquee > .current .tab {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20px;
  background-position: right center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.marquee > .current .tab.transition {
  -moz-transition: width ease-in-out 0.3s;
  -o-transition: width ease-in-out 0.3s;
  -webkit-transition: width ease-in-out 0.3s;
  transition: width ease-in-out 0.3s;
}
.marquee > .current .detail {
  position: absolute;
  top: 100px;
  left: 100px;
}
.marquee > .current button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-position: -1315px center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -50px;
  color: #FFF;
  text-align: left;
}
.marquee > .current button.transition {
  -moz-transition: background-position ease-in-out 0.3s;
  -o-transition: background-position ease-in-out 0.3s;
  -webkit-transition: background-position ease-in-out 0.3s;
  transition: background-position ease-in-out 0.3s;
}
.marquee > .current button:focus {
  outline: none;
}
.marquee > .current button .glyphicon-chevron-right {
  background-image: url(../images/icon/icon-arrow-white-right.png);
  width: 39px;
  height: 54px;
}
.marquee > .current button .glyphicon-chevron-right:before {
  content: "";
}
.marquee.moved .current {
  background-position: -1366px center;
}
.marquee.moved .current.transition {
  -moz-transition: background-position linear 1s;
  -o-transition: background-position linear 1s;
  -webkit-transition: background-position linear 1s;
  transition: background-position linear 1s;
}
.marquee.moved .tab {
  width: 1366px;
}
.marquee.moved .tab.transition {
  -moz-transition: width linear 1s;
  -o-transition: width linear 1s;
  -webkit-transition: width linear 1s;
  transition: width linear 1s;
}
.marquee.moved button {
  background-position: 29px center;
}
.marquee.moved button.transition {
  -moz-transition: background-position linear 1s;
  -o-transition: background-position linear 1s;
  -webkit-transition: background-position linear 1s;
  transition: background-position linear 1s;
}
.marquee.moved button .glyphicon {
  opacity: 0;
}
.marquee.still:hover .tab.transition {
  width: 40px;
}
.marquee.still:hover button.transition {
  background-position: -1295px center;
}
/*#endregion */
/*# sourceMappingURL=module.css.map */